.slideshow__frame {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

.slideshow__flex {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  will-change: left;
}

.slideshow__unit {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
